html {
  background-color: #000;
}

.container {
  width: 200px;
  height: 200px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 120px;
  border-style: solid;
  border-width: 20px;
  color: rgb(242, 131, 12);
}
