/* html {
  margin: 0;
  border: 0;
  font-family: "Red Hat Display", sans-serif;
  max-width: 2000px;
  background-color: #1f3757;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.header-container {
  width: 50%;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff3b;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.game-name h3 {
  margin: auto;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0 20px;

  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

.score h1 {
  font-size: 40px;
}

.score h3 {
  font-size: 10px;
  font-weight: bold;
}

.card-container {
  width: 100px;
  height: 100px;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 120px;
  border-style: solid;
  border-width: 15px;
  color: rgb(242, 131, 12);
}

.game-container {
  background-color: #959da6;
  margin-top: 100px;
}

 */
